<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/spring_mvc</property>
        <property name="connection.username">test</property>
        <property name="connection.password">test</property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop the existing tables and create new one   -->
        <!-- properties: 
         create : 테이블 삭제 -> 테이블 생성 -> 데이터 입력 
         update : 테이블 없으면 생성 -> 데이터 입력 
         create-drop: 테이블 삭제 -> 테이블 생성 -> 데이터 입력 -> 테이블 삭제 
         validate: 확인만
          -->
        <property name="hbm2ddl.auto">update</property>
 
        <!-- Mention here all the model classes along with their package name -->
 		<mapping class="com.youngjee.hibernate.Student_Info"/>
 		
 		<mapping class="com.youngjee.hibernate.Student"/>
 		<mapping class="com.youngjee.hibernate.StudentDetail"/>
 		
 		<mapping class="com.youngjee.hibernate.StudentOther"/>
 		
 		 
    </session-factory>
</hibernate-configuration>
